In [44]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler
import pickle
from sklearn.preprocessing import OneHotEncoder

In [45]:
data=pd.read_csv("Churn_Modelling.csv")

In [6]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [46]:
data=data.drop(["RowNumber","Surname","CustomerId"],axis=1)

In [8]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [47]:
label_encoder_gender=LabelEncoder()

data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [43]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [12]:
one_hot_enc= OneHotEncoder()

geo_value=one_hot_enc.fit_transform(data[['Geography']])
geo_value=geo_value.toarray()

In [13]:
onehot_value=one_hot_enc.get_feature_names_out(['Geography'])

In [14]:
df=pd.DataFrame(geo_value,columns=one_hot_enc.get_feature_names_out(['Geography']))

In [15]:
data=pd.concat([data.drop('Geography',axis=1),df],axis=1)

In [16]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [17]:
geo_value

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [48]:


with open('geo_value.pkl','wb') as file:
    pickle.dump(one_hot_enc,file)

with open('gender_value.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

In [19]:
X= data.drop(['Exited'],axis=1)
y= data['Exited']

In [20]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=.25,random_state=42)

In [21]:
# # from sklearn.model_selection import train_test_split

# X = [1, 2, 3, 4, 5, 6]
# y = [10, 20, 30, 40, 50, 60]

# # With random_state
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5,random_state=42)

In [22]:
print(X_test.head())

print(X_train.head())

      CreditScore  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
6252          596       1   32       3   96709.07              2          0
4684          623       1   43       1       0.00              2          1
1731          601       0   44       4       0.00              2          1
4742          506       1   59       8  119152.10              2          1
4521          560       0   27       7  124995.98              1          1

      IsActiveMember  EstimatedSalary  Geography_France  Geography_Germany  \
6252               0         41788.37               0.0                1.0
4684               1        146379.30               1.0                0.0
1731               0         58561.31               0.0                0.0
4742               1        170679.74               0.0                1.0
4521               1        114669.79               0.0                0.0

      Geography_Spain
6252              0.0
4684              0.0
1731              1.0
4742              0.0
4521              1.0
      CreditScore  Gender  Age  Tenure    Balance  NumOfProducts  HasCrCard  \
4901          673       1   59       0  178058.06              2          0
4375          850       1   41       8   60880.68              1          1
6698          725       0   31       6       0.00              1          0
9805          644       1   33       7  174571.36              1          0
1101          703       1   29       9       0.00              2          1

      IsActiveMember  EstimatedSalary  Geography_France  Geography_Germany  \
4901               1         21063.71               1.0                0.0
4375               0         31825.84               0.0                1.0
6698               0         61326.43               1.0                0.0
9805               1         43943.09               1.0                0.0
1101               0         50679.48               0.0                0.0

      Geography_Spain
4901              0.0
4375              0.0
6698              0.0
9805              0.0
1101              1.0

In [23]:
scaler=StandardScaler()

X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [24]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [25]:
data.head(0)

Empty DataFrame
Columns: [CreditScore, Gender, Age, Tenure, Balance, NumOfProducts, HasCrCard, IsActiveMember, EstimatedSalary, Exited, Geography_France, Geography_Germany, Geography_Spain]
Index: []

In [26]:
print(scaler)

StandardScaler()

In [27]:
with open("scaler.pkl",'wb') as file:
    pickle.dump(scaler,file)

Creation of ANN model

In [28]:
# initiate Sequential (Neuron)

import tensorflow as tf
from tensorflow.keras.models import Sequential   # To initialize the model
from tensorflow.keras.layers import Dense      # To create or declare the number of neurons
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard  #Earlystopping to stop the process after certain epochs accuracy stopped increasing  && Tensorboard to visualize
import datetime

In [29]:
(X_train.shape[1],)

(12,)

In [30]:
model=Sequential([
Dense(64,activation='relu',input_shape=(X_train.shape[1],)),     # Hidden layer 1 which is connected to Input layer
Dense(32,activation='relu'),                                     # Hidden layer 2 
Dense(1,activation='relu')                                       # Output layer
])

c:\Users\NaRamachandr\AppData\Local\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [31]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [32]:
# Selecting the Optimizer and Compile the model

import tensorflow

opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy

model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [33]:
#Train the model with train data
#Setup Tensorboard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_calback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [34]:
# Setup EarlyStoppping

earlyy_stopping_callback=EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [35]:
model.fit(
    X_train,y_train,validation_data=(X_test,y_test),
    callbacks=[tensorflow_calback,earlyy_stopping_callback],
    epochs=100
    
)

Epoch 1/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7739 - loss: 1.9293 - val_accuracy: 0.8380 - val_loss: 1.8451
Epoch 2/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8300 - loss: 1.2212 - val_accuracy: 0.8352 - val_loss: 1.0061
Epoch 3/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8378 - loss: 0.9155 - val_accuracy: 0.8476 - val_loss: 0.5499
Epoch 4/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8407 - loss: 0.5335 - val_accuracy: 0.8496 - val_loss: 0.4997
Epoch 5/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8451 - loss: 0.4839 - val_accuracy: 0.8464 - val_loss: 0.4200
Epoch 6/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8475 - loss: 0.4181 - val_accuracy: 0.8428 - val_loss: 0.4379
Epoch 7/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8468 - loss: 0.3845 - val_accuracy: 0.8548 - val_loss: 0.4336
Epoch 8/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8477 - loss: 0.4253 - val_accuracy: 0.8552 - val_loss: 0.4452
Epoch 9/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8528 - loss: 0.3837 - val_accuracy: 0.8544 - val_loss: 0.4444
Epoch 10/100
235/235 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8592 - loss: 0.3633 - val_accuracy: 0.8440 - val_loss: 0.4821

In [36]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [37]:
%load_ext tensorboard

In [38]:
%tensorboard --logdir logs/fit/

Reusing TensorBoard on port 6006 (pid 22684), started 1 day, 0:51:20 ago. (Use '!kill 22684' to kill it.)